body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.header-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
}

.contenedor1 {
  margin: auto;
  display: table;
}

h1 {
  float: left;
  color: #1b74e4;
  position: relative;
  font-family: monospace;
  font-size: 18px;
}

h1 span {
  position: absolute;
  right: 0;
  width: 0;
  background-color: #fff;
  border-left: 3px solid #000;
  -webkit-animation: maquina 5s infinite alternate steps(36);
          animation: maquina 5s infinite alternate steps(36);
}

@-webkit-keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  -webkit-box-shadow: 0 0 3px;
          box-shadow: 0 0 3px;
}

header .icono {
  color: #1b74e4;
  font-size: 25px;
}

header a {
  text-decoration: none;
  font-weight: bold;
}

.metaverso img {
  width: 100%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 94px;
}

.metaverso h2 {
  position: absolute;
  top: 80px;
  left: 20px;
  color: #fff;
}

.perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.perfil img {
  border-radius: 50%;
}

.perfil li {
  list-style: none;
}

.perfil .amigosPerfil {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 2px solid black;
}

.boton1 {
  text-decoration: none;
  color: #fff;
  background-color: #1b74e4;
  padding: 10px;
  font-weight: bolder;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.boton1:hover {
  background: #7878e4;
}

.boton2 {
  text-decoration: none;
  color: #252323;
  background-color: #b7c0cb;
  padding: 10px;
  font-weight: bolder;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.boton2:hover {
  background: #cdcdd1;
}

.menu2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: bolder;
}

.menu2 a {
  text-decoration: none;
  color: #514a4a;
}

.menu2 a:hover {
  text-decoration: underline;
  color: #1b74e4;
}

.container {
  position: relative;
  height: 300px;
  width: 100%;
  min-width: 100px;
  top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 280px;
  width: 200px;
  background-color: #1b74e4;
  border-radius: 10px;
  -webkit-box-shadow: -1rem 0 3rem #000;
          box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  position: relative;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #e8edf5;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  width: 0px;
  height: 100%;
  background: #009ad9;
  background: -webkit-gradient(linear, left top, right top, from(#009ad9), color-stop(65%, #d99300), to(#ffba00));
  background: linear-gradient(90deg, #009ad9 0%, #d99300 65%, #ffba00 100%);
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 70px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

svg {
  fill: #5f5d64;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}
/*# sourceMappingURL=style.css.map */